{% extends "base.html" %}
{% block title %} <title> Об авторе проекта </title> {% endblock %}
{% block content %}
<div class="container py-5">
  <h1>Привет!</h1>
  <h3>Меня зовут Михаил Костров, и я автор этого проекта</h1>
  <p>
  Это мой первый (учебный) проект, который сделан на фреймворке Django.
  Мне с детства нравилось всё, что связано с компьютерами и программами.
  И вот теперь этим проектом начинается мой путь в программировании.
  Выражаю благодарность всем участникам учебного процесса Яндекс.Практикума, а также всем остальным, кто меня поддерживает.
    <p>
      <a href="https://github.com/mdkostrov">Мой GitHub</a>
    </p>
  </p>
</div>
{% endblock %}
